.container {
    display: grid;
    grid-template: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto auto auto ;
    width: 100%;
    /* overflow-x:hidden ; */
}
.header{
    
    width: 100%;
    grid-area: header;
}
.banner{
    grid-area: banner;
}

.main{
    grid-area: main;
   
 
}
.footer{
    width: 100%;
    grid-area: footer;
   
}
